* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* |HEADER| */

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-image: url('https://kartinkin.net/uploads/posts/2021-07/1626258544_2-kartinkin-com-p-chernii-granit-tekstura-besshovnaya-krasiv-4.jpg');
    color: #fff;
}

 #logotype {
    height: 90px;
}

.section {
    display: flex;
    align-items: center;
}

.HeaderLine {
    padding: 10px 15px;
    font-size: 25px;
}

/* |MAIN| */

main {
    padding: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-image: url('https://kartinkin.net/uploads/posts/2021-07/1627424543_29-kartinkin-com-p-mramor-tekstura-besshovnaya-belii-chyornii-29.jpg');
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

/* test */
#wrapperNum div {
    display: flex;
    position: absolute; /* Позиция относительно окна браузера */
    left: -240px; /* Позиция на экране */
    transition: 0.3s; /* Добавляем трансформацию при наведении */
    padding: 1px; /* Отступы 15px */
    width: 300px; /* Задаем ширину */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 20px; /* Размер шрифта */
    color: white; /* Белый цвет текста */
    border-radius: 0 5px 5px 0; /* Закругленные углы в верхней и нижней части справа */
  }
  
#wrapperNum div:hover {
    left: 0; /* При наведении курсора элементы выезжают на всю ширину */
}

#phone {
    display: flex;
    top: 13%;
    background-color: rgb(56, 53, 53);
    align-items: center;
  }

  #test {
    background-color: rgb(56, 53, 53);
    height: 50px;
}

/* test */

.aboutText {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.about {
    padding-bottom: 10px;

    color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.line {
    position: relative;
    width: 20%;
    height: 2px;
    background-color: black;
    align-self: center;
}

.MainInfo {
    display: flex;
}

.MainText {
    text-indent: 15px;
    margin-left: 40px;
    font-size: 20px;
}

.Examples {
    padding-bottom: 10px;
;
    color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Secondline {
    position: relative;
    width: 20%;
    height: 2px;
    background-color: black;
    align-self: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}

.ExampleText {
    padding-left: 15px;
}

.FirstExample {
    display: flex;
    flex-direction: row-reverse;
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.SecondExample {
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ThirdExample {
    display: flex;
    flex-direction: row-reverse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

#ThirdPhoto {
    height: 250px;
    border-radius: 15px;
}


.LineGalery {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.liner {
    position: relative;
    width: 20%;
    height: 2px;
    background-color: black;
    align-self: center;
}

.SomeExamples {
    padding-bottom: 10px;

    color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.SomePhotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.Galery {
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.MorePhotos {
    text-align: center;
    padding-top: 10px;
}

#OtherSite {
    color: rgb(87, 31, 31);
    font-size: 25px;
}
